<p-growl [(value)]="msgs"></p-growl>
<div class="ui-g">
	<div class="ui-g-8">
		<p-panel [showHeader]="false">
			<div class="ui-g">
				
				<div class="ui-g-2"><label for="acct">Account Number</label></div>
				<div class="ui-g-1"><input id="acct" type="text" pInputText [(ngModel)]="inpAccount"/></div>
				<div class="ui-g-9"></div>
		
				<div class="ui-g-2"></div>
				<div class="ui-g-2"><button pButton type="button" (click)="getCustomerUsage();" label="Get Usage"></button></div>
				<div class="ui-g-8"></div>
			</div>
		</p-panel>
	</div>
	<div class="ui-g-4"></div>
</div>

<div class="ui-g" *ngIf="showPanel">
	<div class="ui-g-8">
		<p-panel [showHeader]="false">
			<div class="ui-g">
			
				<div class="ui-g-2">Total Usage: </div>
				<div class="ui-g-1">{{ totalUsage }}</div>
				<div class="ui-g-9"></div>

				<div class="ui-g-2">Usage Tier: </div>
				<div class="ui-g-1">{{ usageTier }}</div>
				<div class="ui-g-9"></div>
				
			</div>
		</p-panel>
	</div>
	<div class="ui-g-4"></div>
</div>
