<div class="ui-g">
	<div class="ui-g-8">
		<p class="splash-text">
			This project demonstrates how to use Spring Data Redis with an Angular6 user interface.
			The UI invokes web services that simulate a simple version of throttling 
			bandwidth speed based on usage for an imaginary <i>unlimited</i> data plan. 		
		</p>
		<p class="splash-text">
			For example, imagine a data plan that has 3 bandwidth service tier speeds <b>FAST</b>, <b>MEDIUM</b>, and <b>SLOW</b>. 
			Each tier has an assigned data usage threshold of -1, 300, and 500 bytes respectively. 
			As data usage increases for an account holder, bandwidth speed is throttled downwards as the usage amount crosses each threshold. 
			Data usage is reset to zero periodically (possibly once a month) based on how long each account is consuming data.
		</p>
	</div>
</div>